@import "~bootstrap/scss/bootstrap";

/* master scss file, global styles and imports of other app scope scss files */



/* angular material */
@import "vendor/angular-material";

/* angular material menu and icon setup */
@import "vendor/mat-icon";

/* responsive css */
@import "partials/media-variables";
@import "partials/media-phones";
@import "partials/media-tablets";
@import "partials/media-pcs";

/* global colors */
@import "partials/colors";

/* for xxx-alert */
@import "partials/alert";


/* global font */
body {
  font-family: 'Outfit', sans-serif !important;
  font-weight: 300;
  font-style: normal;
}


