<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>


<div
  class="d-flex align-items-center justify-content-center position-absolute top-50 start-50 translate-middle w-100 p-2">

  <div class="card m-2" style="width: 18rem;">
    <!-- <img src="..." class="card-img-top" alt="..."> -->

    <a href="#" class="btn btn-primary">

      <div class="card-body">

        <h5 class="card-title">Casa - Gastos fijos</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>

    </a>
  </div>

  <div class="card m-2" style="width: 18rem;">
    <!-- <img src="..." class="card-img-top" alt="..."> -->

    <a href="#" class="btn btn-primary">

      <div class="card-body">

        <h5 class="card-title">Casa - Gastos variables</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>

    </a>
  </div>

  <div class="card m-2" style="width: 18rem;">
    <!-- <img src="..." class="card-img-top" alt="..."> -->

    <a href="#" class="btn btn-primary">

      <div class="card-body">

        <h5 class="card-title">Gastos personales        </h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>

    </a>
  </div>


</div>