

<div
  class="d-flex flex-column align-items-center justify-content-center position-absolute top-50 start-50 translate-middle w-100 p-2">

  <div class="card m-2" style="width: 25rem;">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    
    <a href="#" class="btn btn-primary">

      <div class="card-body">
        <a routerLink="/casa">

        <h5 class="card-title">🏠 Casa - Gastos fijos</h5>
        <p class="card-text"> Alquiler - Internet - Luz - Gas - Supermercado</p>
      </a>
      </div>

    </a>
  </div>

  <div class="card m-2" style="width: 25rem;">
    <!-- <img src="..." class="card-img-top" alt="..."> -->

    <a href="#" class="btn btn-primary">

      <div class="card-body">

        <h5 class="card-title">🏠 Casa - Gastos variables</h5>
        <p class="card-text">Salidas - Gastos extra</p>



      </div>

    </a>
  </div>

  <div class="card m-2" style="width: 25rem;">
    <!-- <img src="..." class="card-img-top" alt="..."> -->

    <a href="#" class="btn btn-primary">

      <div class="card-body">

        <h5 class="card-title">🧍‍♂️ Gastos personales</h5>
        <p class="card-text">Resumen de gastos por persona</p>
      </div>

    </a>
  </div>

  <div class="card m-2" style="width: 25rem;">
    <!-- <img src="..." class="card-img-top" alt="..."> -->

    <a href="#" class="btn btn-primary">

      <div class="card-body">

        <h5 class="card-title">🛒 Supermercado - Carrito de compras</h5>
        <p class="card-text">Generar orden de compra para ir al super</p>
      </div>

    </a>
  </div>


  <div class="card m-2" style="width: 25rem;">
    <!-- <img src="..." class="card-img-top" alt="..."> -->

    <a href="#" class="btn btn-primary">

      <div class="card-body">

        <h5 class="card-title">📋 Control de stock</h5>
        <p class="card-text">Registro de alimentos/productos del hogar</p>
      </div>

    </a>
  </div>


</div>







